#survey-form {
    width: 70%;
    background-color: rgba(19, 9, 128, 85%);
    margin: 5px auto;   
    padding: 10px;
    border-radius: 10px;
  }
  
  form label {
    display: block;
  }
  
  .field {
    margin-top: 15px;
    margin-left: 5px;
  }
  
  body{
    color: white;
    font-family:helvetica;
    background-image: url("img1.jpg");
    background-color: rgba(19, 9, 128, 10%);
  }
  
  input, select {
    margin: 5px auto;
  }
  
  
  
  
  
  
  